main {
  height: 200px;
}

.footer-wrapper {
  width: 100%;
  background: $black;
}

.page-footer {
  margin: 0 auto;
  padding: 50px 0;
  width: 100%;
  min-height: 500px;
  max-width: 940px;
  color: $white;
  @include font-size(1.2);
  text-transform: uppercase;
  letter-spacing: 1px;
  .logo {
    margin-left: 20px;
  }
  li {
    margin-bottom: 7px;
  }
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h6 {
    margin: 0 0 12px 0;
    letter-spacing: 1px;
    @include font-size(1.2);
  }
  .adr {
    margin-bottom: 15px;
  }
  .social {
    margin: 23px 0 20px 0;
  }
  .social-button {
    margin-left: 5px;
  }
  p {
    margin: 0;
  }
}

.page-footer__left {
  width: 50%;
}

.page-footer__left--logo {
  text-align: right;
  padding-right: 10px;
}

.page-footer__left--nav {
  width: 50%;
  padding-left: 10px;
}

.page-footer__left--contact {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.page-footer__right {
  width: 100%;
  text-align: center;
}

@media (min-width: 420px) {
  .page-footer h6 {
    letter-spacing: 0;
  }
  .page-footer__left {
    width: 30%;
  }
  .page-footer__left--logo {
    text-align: left;
    padding-right: 0;
  }
  .page-footer__left--nav {
    padding-left: 0;
  }
  .page-footer__left--contact {
    width: 40%;
    text-align: right;
    padding-right: 20px;
    margin-top: 0;
  }
  .page-footer__right {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 775px) {
  .page-footer {
    min-height: 220px;
    h6 {
      letter-spacing: 0;
    }
  }
  .page-footer__left {
    width: 20%;
  }
  .page-footer__left--nav {
    width: 15%;
  }
  .page-footer__left--contact {
    text-align: left;
    padding-right: 0;
  }
  .page-footer__right {
    width: 45%;
    text-align: right;
    padding-right: 20px;
  }
}

@media (min-width: 820px) {
  .page-footer h6 {
    letter-spacing: 1px;
  }
}

@media (min-width: 960px) {
  .page-footer .logo {
    margin-left: 0;
  }
  .page-footer__left--logo {
    width: 15%;
  }
  .page-footer__left--contact {
    width: 25%;
  }
  .page-footer__right {
    padding-right: 0;
  }
}