
$purple: #572d41;
$dark-purple: #231f20;
$green: #d5d654;
$red: #ed1b22;
$dark-red: #c0151b;
$yellow: #ece80d;
$white: #fff;
$grey-light: #eee;
$grey-light2: #ddd;
$grey: #ccc;
$grey-dark: #808080;
$light-black: #231f20;
$black: #000;